/**************************************************************/
/******************    Custom Stylesheet    *******************/
/*******************   by Corey Sizemore   ********************/
/*******************     version 1.0       ********************/
/**************************************************************/

$blue1: #4f769e;
$blue2: #002851;
$yellow: #e6bd5c;

header.home_default_image {
	background: url('../img/home.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header.page_default_image {
	background: url('../img/page.jpg') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.parallax.parallax_default_image {
	background: url('../img/parallax.jpg') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

header.header_mobile_home .mobile_header_bar, 
header.header_page_mobile .mobile_header_bar {
	background: $blue1;
}

a#mobileopen:link, a#mobileopen:visited, a#mobileclose:link, a#mobileclose:visited {
	color: #ffffff;
}

a#searchopen:link, a#searchopen:visited {
	color: $yellow;
}

header {
	#nav_bar,
	#nav_bar.scroll-fix {
		background: $blue1;
		
		ul {
			li {
				a:link,a:visited {
					color: #ffffff;
				}
			}
		}
	}
	
	#home_logo {
		bottom: 450px;
		
		#logo_home {
			img {
				width: 400px;
			}
		}
		
		.board {
			background: url('../img/board.png') no-repeat;
			background-size: 100%;
			background-position: center top;
			width: 400px;
			height: 260px;
			margin-left: 200px;
			margin-top: -32px;
			
			.board_content {
				padding: 30px;
				padding-top: 55px;
				transform: rotate(2.6deg);
				font-size: 24px;
				text-align: center;
				text-transform: uppercase;
				line-height: 47px;
				font-weight: 500;
				color: $blue2;
			}
		}
		
		.pole {
			background: url('../img/pole.png') no-repeat;
			background-size: 100%;
			background-position: center top;
			width: 40px;
			height: 250px;
			margin-left: 375px;
			margin-top: -9px;
		}
	}
}

.main {
	.main_cushion.includes {
		background: $yellow !important;
		
		.content {
			
			h2,p {
				color: $blue2;
			}
			
			.icon_wrapper {
				background: $blue1;
			}
		}
	}
	
	.content,
	.sidebar {
		h1,h3 {
			color: $blue2;
			font-weight:500;
		}
		
		a:link,
		a:visited {
			color: $blue1;
		}
		
		a.button:link,
		a.button:visited {
			background: $yellow !important;
			color: $blue2;
		}
		
		iframe {
			width: 100%;
			height: 300px;
		}
	}
}

.edit_button {
	a:link,a:visited {
		background: $blue2;
	}
}

footer {
	background: $blue1;
	background: -moz-linear-gradient(top, $blue1 0%, $blue2 100%);
	background: -webkit-linear-gradient(top, $blue1 0%,$blue2 100%);
	background: linear-gradient(to bottom, $blue1 0%,$blue2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue1', endColorstr='$blue2',GradientType=0 );
	
	
	#logo_footer {
		img {
			height: 150px;
		}
	}
}

.copyright {
	background: $blue2;
}

article.blog_preview span.author a:link, article.blog_preview span.author a:visited, article.blog_preview span.date a:link, article.blog_preview span.date a:visited {
	color: $yellow;
}


@media (min-width: 980px) and (max-width: 1220px) {
	
	header {
	
		#home_logo {
			bottom: 50px;
	
			.board,
			.pole {
				display: none;	
			}
		}
	}	
	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
	header {
	
		#home_logo {
			bottom: 50px;
	
			.board,
			.pole {
				display: none;	
			}
		}
	}
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
	header {
	
		#home_logo {
			bottom: 50px;
	
			.board,
			.pole {
				display: none;	
			}
		}
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
	header {
	
		#home_logo {
			bottom: 50px;
			
			#logo_home {
				img {
					width: 300px;
				}
			}
	
			.board,
			.pole {
				display: none;	
			}
		}
	}
	
}